.root {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.innerContainer {
  max-width: 1224px;
  z-index: 1;
  position: relative;
  justify-content: center;
  padding: 16px;
}

.directionContainer {
  flex-direction: column;
}

.loginForm {
  justify-content: center;
  margin-top: 40px;
  border: 1px solid;
  box-shadow: 5px 10px;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 20px;
  border-color: var(--yellow500);
  background-color: var(--white);
  padding: 1.5rem 1.5rem 2rem 1.5rem
}

.socialMediaItem {
  margin-bottom: 1rem;
  justify-content: center;
  flex-basis: 100%;
}

.socialMediaText {
  font-size: 1rem;
  color: var(--gray400);
  font-family: 'Comfortaa';
}

.iconContainer {
  flex-basis: 100%;
  justify-content: center;
}

.iconItem {
  flex-basis: 0;
}

.providerErrorText {
  font-size: 1rem;
  color: var(--error);
  font-family: 'Comfortaa';
}
