<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Ticketland" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <title>Ticketland</title>
    <!-- Primary Meta Tags -->
    <title>Ticketland</title>
    <meta name="title" content="Ticketland">
    <meta name="description" content="Ticketland.">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ticketland.io">
    <meta property="og:title" content="Ticketland">
    <meta property="og:description" content="Ticketland.">
    <meta property="og:image" content="">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://ticketland.io">
    <meta property="twitter:title" content="Ticketland">
    <meta property="twitter:description" content="Ticketland">
    <meta property="twitter:image" content="">

    <!-- <meta name="google-signin-scope" content="profile email"> -->
    <!-- <meta name="google-signin-client_id" content="955218804430-sdabinrt4dbvqm9qa4q5m17jrsu17337.apps.googleusercontent.com"> -->
    <!-- <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.css" /> -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
  </head>
  <body>
    <div id="root"></div>

    <noscript>You need to enable JavaScript to run this app.</noscript>
  </body>

</html>
